/* ========      Google Fonts

font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;


========*/

/* ============   Template Default Css   ============ */
body {
  font-family: "Inter", sans-serif;
}

